:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --dark-bg: #2f303a;
  --white-color: #ffffff;
  --btn-bg: #f5f4fa;
  --card-item: 4;
  --svg-color: #afb1b8;
  --white-rgba: rgba(255, 255, 255, 0.1);
  --overlay-bg: rgba(33, 150, 243, 0.9);
  --work-overlay-bg: rgba(47, 48, 58, 0.8);
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --border-form: 1px solid rgba(33, 33, 33, 0.2);
}

/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0px;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
/* Класс для обнуления базовых свойств у списков (ul) */
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  
}

/* Класс для обнуления базовых свойств у ссылок */
.link {
  text-decoration: none;
  color: inherit;
  /* transition: color var(--transition); */

}
 /* .link:hover,
.link:focus{ color: var(--accent-color); 
  
} */

/* Свойства для корректного отображения картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Свойства для обнуления курсива у address */
address {
  font-style: inherit;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin: 0;
  outline: 2px solid tomato;
}

/* common */
.button {
  background-color: var(--accent-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--white-color);
  cursor: pointer;
  border: 1px solid transparent;
  display: inline-block;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  min-width: 200px;
}
.hidden{
  visibility: hidden;
}
.section-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.title {
  color: var(--title-text-color);
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.card-set-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / var(--card-item) - 30px);
}

/* logo */
.header .logo{
  margin-right: 94px;
}
.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: calc(31 / 26);
  

  /* identical to box height */

  letter-spacing: 0.03em;

  color: var(--accent-color);
}

.logo-header {
  color: var(--title-text-color);
}

.logo-footer {
  color: var(--white-color);
}

/* header */
.header {
  border-bottom: 1px solid #ececec;
}
.header-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-flex {
  display: flex;
  align-items: center;
}
.address-flex {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.contact:not(:last-child) {
  margin-right: 50px;
}

.header-element {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
}
.mail-icon,
.phone-icon {
  fill: currentColor;
  margin-right: 10px;
}

.site-nav {
  color: var(--title-text-color);
  display: flex;
  align-items: center;
}
.underline-nav{
  position: relative;
}
.current::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  bottom: -1px;
  
}

/* .site-nav li {
    margin-right: 50px;
}

.site-nav li:last-child {
    margin-right: 0px;
} */
.list-nav:not(:last-child) {
  margin-right: 50px;
}

.header-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--transition);
}


.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.site-nav .current {
  position: relative;
  color: var(--accent-color);
}

/* HERO */
.section-hero {
  color: var(--white-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/bgr-hero.png');
  background-size: cover;
  background-color: #c4c4c4;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin: auto;
}

.hero-title {
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  /* or 136% */
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

/* feature */
.feature-title {
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.card-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  border-radius: 4px;
  background-color: var(--btn-bg);
  margin-bottom: 30px;
}
.card-link:hover,
.card-link:focus {
  color: var(--accent-color);
  }
  
.card-item:hover .card-list-icon,
.card-item:focus .card-list-icon {
  fill: var(--accent-color);
}
.work-item-overley{
  position: absolute;
  bottom: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  font-weight: 700;
  padding: 27px;
  text-transform: uppercase;
  color: var(--white-color);
  background: var(--work-overlay-bg)
  }
.work-item{
  position: relative;
}

/* .card--list-icon {
} */
/*.work-image {
    padding-top: 50px;
    padding-bottom: 94px;
} */

.work {
  padding-top: 0px;
  --card-item: 3;
}

/* person */
.person-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.person-title,
.person-text {
  font-size: 16px;
  line-height: calc(19 / 16);
  margin-bottom: 16px;
}

.person-title {
  font-weight: 500;
  margin-bottom: 10px;
}

.person {
   background: var(--btn-bg);
}

.person-wraper {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  background: #ffffff;
  padding-left: 32px;
  padding-right: 32px;
}
.social-item:not(:last-child){
  margin-right: 10px;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--svg-color);
  background-color: var(--white-rgba);
  transition: background-color var(--transition), color var(--transition );

}
/* .social-link:hover .social-list-icon,
.social-link:focus .social-list-icon {
  fill: var(--white-color);
} */
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}
.social-list {
  display: flex;
  justify-content: space-between;
}
.social-list-icon {
  fill: currentColor;
 }
.card-link {
  display: flex;
  align-items: center;
  justify-content: center;
   height: 92px;
  border: 1px solid currentColor; 
  border-radius: 4px;
  color: var(--svg-color);
  transition: color var(--transition);
 }
.clients-list {
  --card-item: 6;}

.card-client-list {
  display: flex;
  flex-basis: calc((100% - 6 * 30px) / 6);
  justify-content: center;
}
.card-item:hover .card-client-icon,
.card-item:focus .card-client-icon {
  fill: var(--accent-color);
}
.card-client-icon {
  fill: currentColor;
}

/* footer */
.footer {
  background-color: var(--dark-bg);
  padding: 60px 0px;
}

.footer-logo {
  margin-bottom: 20px;
  display: inline-block;
}

.footer-container{
  display: flex;
  align-items: baseline;
}
.footer-item:not(:last-child){
  margin-right: 70px;
 }
.hero-btn {
  padding: 10px 32px;
 
}
.logo-marg {
  margin-bottom: 20px;
}
.socials-footer {
  display: flex;
  justify-content: center;
  /* margin: auto; */
}

.social-icon {
  align-self: center;
}

.social-footer:not(:last-child) {
  margin-right: 10px;
}

.social-footer-item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-content: center;
  justify-content: center;
  fill: #fff;
  background-color: rgba(255, 255, 255, 0.1);
}
.footer .social-link{
  color: var(--white-color);}

.social-footer-item:hover,
.social-footer-item:focus {
  background-color: var(--accent-color);
  fill: white;
}
.footer-title {
   color: var(--white-color);
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 700;
  display: block;
}
.footer-subscription-item{
  display: flex;
}
.footer-subscription-list{
  display: flex;
  justify-content: space-evenly;
}
.footer-item:last-child {
  margin-left: auto;
}

.footer-subscription-input{
  margin-right: 12px;
  width: 358px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  height: 50px;
  padding-left: 16px;
  transition: border-color var(--transition);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background: transparent;
  color: rgba(255, 255, 255, 0.6);
  
  }
.footer-subscription-input::placeholder{
  color: rgba(255, 255, 255, 0.6);
}
    
  .footer-subscription-input:focus,
  .footer-subscription-input:hover {
    outline: none;
    border-color: var(--accent-color);
}
.footer-subscription-btn {
  display: flex;
  align-items: center;
  padding: 8px 26px;
  }

.footer-subscription-btn:focus,
.footer-subscription-btn:hover {
  background-color: #188CE8;
  transition: background-color var(--transition);
}
.footer-subscription-icon{
  margin-left: 10px;
 
}
/* site adress */

.address-link {
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition);
}
.address-link[target='_blank'] {
  color: var(--white-color);
}
.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}

/* .address-link [target='_blank'] {
  color: var(--white-color);
} */




.address-marg:not(:last-child) {
  margin-bottom: 8px;
}
/* portfolio */
.filter-btn {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background: var(--btn-bg);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 6px 22px;
  min-height: 38px;
  transition: box-shadow var(--transition), color var(--transition), background-color var(--transition);
}

.filter-btn:hover,
.filter-btn:focus,
.filter-current {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
  0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
  
}

.portfolio-title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  margin-bottom: 8px;
}

.portfolio-item {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: calc(30 / 16);
}
.portfolio-section {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-top: -30px;
  margin-left: -30px;
}
.portfolio-card {
  flex-basis: calc((100% - 3 * 30px) / 3);
  margin-top: 30px;
  margin-left: 30px;
}
.portfolio-card-wraper {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
  background: #ffffff;
}
.filter-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 56px;
}
.portfolio-list:not(:last-child) {
  margin-right: 8px;
}
/* overlay */
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--white-color);
  background: var(--overlay-bg);
  font-size: 18px;
  line-height: calc(28 / 18);
  padding: 63px 24px;
  overflow: auto;
  transform: translateY(100%);
  transition: transform var(--transition);
}
.portfolio-item-img-wraper{
  position: relative;
  overflow: hidden;
}
.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
  transform: translateY(0%);
}

/* .portfolio-bgr {
  
} */
.portfolio-link {
  display: block;
  transition: box-shadow var(--transition);
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06),
    0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.backdrop{
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
transition: opacity var(--transition), visibility var(--transition);
}
.is-hidden{
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(2);
 }
.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) ;
  max-width: 528px;
  width: 100%;
  min-height: 580px;
  background-color: var(--white-color);
  transition: transform var(--transition), opacity var(--transition);
  padding: 40px;
}
.modal-close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  transition: border var(--transition);
}
  .modal-close-btn:hover, .modal-close-btn:focus{ 
    border: 1px solid var(--accent-color);
  }
.modal-close-icon{
transition: fill var(--transition);
}
.modal-close-btn:hover .modal-close-icon, .modal-close-btn:focus .modal-close-icon{
  fill: var(--accent-color);

}
/* Form */
.form-title{
font-size: 20px;
line-height: 23px;
text-align: center;
color: var(--title-text-color);
}

.contact-form-field{
  display: block;
margin-bottom: 10px;
}
.contact-form-input{
  width: 100%;
  border-radius: 4px;
  border: var(--border-form);;
  height: 40px;
  padding-left: 42px;
  cursor: pointer;
  transition: border-color var(--transition);
}
.contact-form-input:focus, .contact-form-input:hover{
  outline: none;
  border-color: var(--accent-color);
}

 .contact-form-input:hover + .contact-icon{
  fill: var(--accent-color);
}
.contact-form-input:focus +.contact-icon {
  fill: var(--accent-color);
}
.contact-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transition: fill var(--transition);
}

.contact-form-massage{
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
  resize: none;
  border: var(--border-form);
  border-radius: 4px;
  transition: border-color var(--transition);
}
.contact-form-massage:focus, .contact-form-massage:hover{
  border-color: var(--accent-color);
  outline: none;
}
.contact-form-massage::placeholder{
  color: rgba(117, 117, 117, 0.5);

}

.contact-form-checkbox-wrapper{
  margin-bottom: 30px;



}
.contact-form-checkbox:checked + .contact-form-checkbox-label::before{
  background-image: url(../images/icon\ check.svg);
  background-position: center;
  border-color: var(--accent-color);
    }
.contact-form-checkbox-label{
display: flex;
align-items: center;
justify-content: center;

}

.contact-form-checkbox:focus + .contact-form-checkbox-label::before{
  border-color: var(--accent-color);
  outline: none;
}

.contact-form-checkbox-label::before {
  margin-right: 10px;
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid var(--title-text-color);
  cursor: pointer;
  transition: border-color var(--transition);
  
  
 
}
.contact-form-submit-btn{
  padding: 10px 56px;
  max-width: 200px;
  margin: 0 auto;
 display: block;
}

.contact-form-submit-btn:focus, .contact-form-submit-btn:hover{
  background-color: #188CE8;
  transition: background-color var(--transition);
}
.contact-form-title{
  font-size: 12px;
  margin-bottom: 4px;
  display: inline-block;
  line-height: 1.16;

}
.contact-form-input-wrapper{
margin-top: 4px;
position: relative;
display: block;
}
