.card-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    border-radius: 4px;
    background-color: var(--btn-bg);
    margin-bottom: 30px;

&:hover .card-list-icon,
&:focus .card-list-icon {
        fill: var(--accent-color);
    }
}



