.modal-close-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    transition: border var(--transition);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    border: 1px solid var(--accent-color);
}

.modal-close-icon {
    transition: fill var(--transition);
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
    fill: var(--accent-color);

}