.portfolio__title {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
    margin-bottom: 8px;
}

.portfolio__item {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: calc(30 / 16);
}

.portfolio__section {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-top: -30px;
    margin-left: -30px;
}

.portfolio__card {
    flex-basis: calc((100% - 3 * 30px) / 3);
    margin-top: 30px;
    margin-left: 30px;
}

.portfolio-card-wraper {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: none;
    background: #ffffff;
}

.filter-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 56px;
}

.portfolio__list:not(:last-child) {
    margin-right: 8px;
}