.portfolio__link {
    display: block;
    transition: box-shadow var(--transition);
    &:hover,
    &:focus {
            box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06),
                0px 1px 1px 0px rgba(0, 0, 0, 0.12);
        }
}

